a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}
img{
    border-style: none;
}
button, input{
    background: transparent;
    border: none;
    color: #212124;
    overflow: visible;
}
button, select{
    text-transform: none;
}
button, input, optgroup, select, textarea{
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
canvas, img, picture, svg, video{
    display: block;
    max-width: 100%;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #f1f3f6;
    color: #212124;
    letter-spacing: -.02em;
    padding: 0;
    display: block;
}
.wrap{
    padding-top: 64px;
    max-height: 100vh;
    overflow: auto;
}
/*---------------------Çì´õ----------------------*/
.fheader{
    height: 64px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(33, 33, 36, .14);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.fheader .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding: 0px 8px;
}
.hibi-logo{
    width: 100px;
}
.nicknameBtn{
    position: relative;
    display: flex;
    height: 44px;
    padding: 0px 12px;
    align-items: center;
    border-radius: 4px;
}
.myprofile{
    margin-right: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: 1px solid rgba(0,0,0,.2);
}
.nicknameBtn .nickname-area{
    color: #4d5159;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
}
.nickname-area .menu-icon{
    display: inline-flex;
    align-items: center;
    margin-left: 9px;
    vertical-align: middle;
}

.wrap .body{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 64px);
}
.main{
    display: flex;
    overflow-x: auto;
    position: relative;
    margin: 0px auto;
    height: 100%;
}
.main .left{
    display: flex;
}
.left .sidebar{
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(33, 33, 36, .07);
    border-right: 1px solid rgba(33, 33, 36, .07);
    padding: 20px 13px;
    width: 72px;
    background-color: #eaebee;
}
.sidebar .anchor{
    position: relative;
    display: inline-block;
    width: 44px;
    height: 44px;
}
.chatlist-nav{
    display: flex;
    border-right: 1px solid rgba(33, 33, 36, .14);
    width: 312px;
    height: 312px;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
.chatlist-nav .na_wrapper{
    position: relative;
    display: flex;
    height: 64px;
    min-height: 64px;
    border-bottom: 1px solid rgba(33, 33, 36, .07);
    padding: 0px 20px;
    align-items: center;
}
.na_wrapper .nickname_area{
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
}
.chatlist-nav .ckb_wrapper{
    display: flex;
    flex-direction: row-reverse;
    height: 44px;
    min-height: 44px;
    padding: 0px 6px;
    border-bottom: 1px solid rgba(33, 33, 36, .07);
    font-size: 12px;
    align-items: center;
}
.ckb_wrapper .unread-label{
    display: flex;
    padding: 6px;
    border-radius: 6px;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: -0.2em;
    color: #868b94;
}
.unread-description{
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #868b94;
}
.unread-description:hover{
    cursor: pointer;
}
.chatlist{
    position: relative;
    margin: 0px;
    padding: 0px;
    height: calc(100% - 56px);
    list-style: none;
    overflow: hidden auto;
    background-color: #fff;
}
.clist-a{
    display: flex;
    padding: 16px;
    height: 72px;
    border-bottom: 1px solid rgba(33, 33, 36, .07);
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: background-color 0.6s, background-size 0.6s ease 0s;
    background-position: center center; 
    contain: content;
}
.clist-a .profile-wrap{
    margin-right: 8px;
    height: 40px;
}
.profile-wrap .profile-image{
    width: 40px;
    min-height: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .2);
}
.preview-title-container{
    flex: 1 0 0%;
    width: 0px;
}
.preview-title-wrap{
    display: flex;
    align-items: center;
}

.preview-title-wrap .preview-nickname{
    height: 20px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: -0.02em;
    color: #212124 ;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.preview-title-wrap .sub-text{
    color: #868b94;
    font-size: 12px;
    white-space: nowrap;
}
.preview-descreption{
    display: flex;
    align-items: center;
    height: 20px;
    font-size: 13px;
    color: #4d5159;
}
.preview-descreption .description-text{
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.preview-image{
    margin-left: 8px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    width: 40px;
    height: 40px;
    object-fit: cove;
}
.hello{
    
}
.option-controller{
    display: inline-flex;
}
section.chatdetail{
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(33, 33, 36, .14);
    min-width: 812px;
    max-width: 812px;
    background-color: rgb(255, 255, 255);
}
.chatdetail .empty-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.empty-box .empty-description{
    margin-top: 34px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #4d5159;
}